:root {
    --text-color: #0f1b61;
    --bg-color: #f4f9fc;
    --line:#D7A6B3;
}

body {
    height: 100%;
    padding: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
}

::selection { 
    background: var(--line);
    color: var(--bg);
    text-shadow: none 
}

::-moz-selection { 
    background:var(--line); 
    color:#fff; 
    text-shadow:none
}

.profile-photo {
    height: auto;
    border-radius: 50%;
    margin: 2rem;
}

h1 {
    font-family: "Bitter", serif;
    text-align: center;
    font-weight: 100;
    line-height: 1.125;
    margin-bottom: 0rem;
    color: var(--text-color);
}

h2 {
    font-family: "Bitter", serif;
    text-align: center;
    font-weight: 100;
    letter-spacing: .0075em;
    line-height: 1.65;
    margin-top: 1rem;
    color: var(--text-color);
}

.socials-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin-square {
    color: #2D64BC;
}

.fa-github-square {
    color: #171515;
}

.fa-envelope-square {
    color: #D7A6B3;
}

/* For wider screens */
@media screen and (min-width: 601px) {
    .profile-photo {
        max-width: 20rem;
    }

    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .fa {
        margin: 2rem;
    }

    .socials-icon {
        font-size: 6em;
    }
}

/* For smaller screens */
@media screen and (max-width: 600px) {
    .profile-photo {
        max-width: 70%;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    .fa {
        margin: .8rem;
    }

    .socials-container {
        margin-top: 1.5rem;
    }

    .socials-icon {
        font-size: 4em;
    }
}